@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  .layout-boarder {
    transform: rotate(0.08deg);
    border: 1px solid;
    /* border-image-source: linear-gradient(270deg, #131313 14.12%, #1053FF 50.64%, #131313 90.29%); */
    background: linear-gradient(270deg, #0c1e28 0%, #eed5a5 50%, #0c1e28 100%);
    width: 100%;
    border: none;
    display: flex;
    height: 1px;
  }
}

.background-image {
  background: url("../public/images/Logo/image111.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.home {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 24px;
  color: white;

  .title {
    font-size: 48px;
    font-weight: 700;
    padding-top: 36px;
    padding-left: 48px;
    padding-bottom: 24px;
  }

  .option-pannel {
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-bottom: 48px;

    .search {
      position: relative;
      width: 100%;
    }

    .search-icon {
      display: flex;
      align-items: center;
      position: absolute;
      padding-left: 12px;
      top: 0px;
      left: 0px;
      bottom: 0px;
    }
    .search-input {
      font-size: 14px;
      line-height: 20px;
      background: transparent;
      width: 100%;
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .selector {
      position: relative;
      width: 100%;
    }

    .select-input {
      width: 100%;
      padding: 10px;
      background: transparent;
      border: 1px solid #575764;
    }

    .select-option {
      background: #282c34;
      border: 1px solid #575764;
    }
  }
  // .grid {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   gap: 10px;
  // }

  .card-wrap {
    margin: 8px;
  }
  .card-wrap:hover {
    scale: 1.1;
    box-shadow: 0px 0px 14px 17px #EED5A5;
  }
  .flex-col-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  .gradient {
    background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    color: transparent;
    background-clip: text;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    animation: move 3s infinite;
    width: fit-content;
  }
  
  @keyframes move {
    50% {
      background-image: linear-gradient(262deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
    }
  }
}
